@import '../../../assets/sass/_mixin.scss';
@import '../../../assets/sass/_variable.scss';

.single-card {
    position: relative;
    border: 1px solid $lightGray;
    transition: .3s;

    &:hover {
        border: 1px solid $brightBlue;

        .content{
            visibility: visible;
        }
    }

    .badge {
        background-color: #1e96fc;
        font-size: 11px;
        padding: 5px 9px;
    }

    .content {
        background-color: $white;
        box-shadow: 0px 1px 20px 0px #c8c8c8;
        padding: 9px;
        transition: .1s;
        width: 65%;
        text-align: center !important;
    }

    .title p {
        font-size: 14px;
    }

    .price {
        font-size: 14px;

        .old-price {
            color: #ed4b4b;
        }

        .new-price {
            color: #b20808;
        }
    }

    .size-connectivy {
        span {
            font-size: 13px;
        }
    }

    .stock {
        span {
            font-size: 12px;
            color: #019267;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            font-size: 10px;
            color: #019267;
        }
    }

    .add-btn {
        button {
            background-color: $brightBlue;
            width: 100%;
            padding: 13px 30px;
            font-size: 13px;
            letter-spacing: .4px;
            transition: .3s;

            .icon {
                display: none;
                font-size: 13px;
            }

            &:hover {
                background-color: #011962;

                .icon {
                    display: block;
                }

                span {
                    display: none;
                }
            }
        }
    }

}