@import "../../assets/sass/_mixin.scss";
.wishlist-page {
  .containers {
    @include container;

    table tr {
      .title {
        font-size: 14px;
      }

      .price {
        color: #b20808;
        font-size: 14px;
      }

      .add-btn {
        background-color: #2252d1;
        color: #fff;
        padding: 12px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
      }
    }

    .remove-all {
      background-color: #2252d1;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 5px;
      font-size: 14px;

      &:hover {
        background-color: navy;
      }
    }
  }
}
