.forgotpassword-page{
    .header{
        background-color: #F7F7F8;
        .direction a,p{
            font-size: 10px;
        }
    }

    .forgotpassword{
        p{
            font-size: 13px;
            letter-spacing: .4px;
            line-height: 20px;
        }
        form {
            label{
                font-size: 13px;
            }

            button{
                background-color: #2252D1;
            }
        }
    }
}