@import '../../assets//sass/_mixin';
@import '../../assets/sass/variable';

header {
    border-bottom: 1px solid $lightGray;

    .containers {
        @include container;

        .search {
            width: 40%;
        }

        .right {
            .phone {
                span:nth-of-type(1) {
                    font-size: 9px;
                    letter-spacing: .3px;
                    color: $darkGray;
                }

                span:nth-of-type(2) {
                    font-size: 18px;
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    header .containers {
        .logo {
            display: none;
        }

        .search {
            width: 100%;
        }

        .right {
            display: none !important;
        }
    }
}