@import '../../assets/sass/_variable.scss';

.search {
    form {
        border: 2px solid $lightGray;
        border-radius: 5px;

        input {
            border: none;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        select {
            cursor: pointer;
            border: none;
            border-left: 2px solid $lightGray;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
                border-left: 2px solid $lightGray;

            }
        }

        button {
            background-color: $brightBlue;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}